
#########
# LaTex #
#########

# Basic extensions
#    *.pdf # Tracked for now
    *.aux
    *.ps
    *.log
    *.dvi
    *.tex~
    *.fdb
    *.log
    *.synctex.gz

# BibTex specific
    *.bbl
    *.blg
